body {
    background-color: rgb(119, 194, 255);
}

h1 {
    color: black;
}

.header {
  padding: 60px;
  text-align: center;
  background: #1abc9c;
  color: white;
  font-size: 30px;
}

.marioText {
    font-family: MarioFont;
    font-size: large;
    color: black;
    align-self: center;
}

@font-face {
    font-family: MarioFont;
    src: url(/fonts/MarioFont.otf);
}

/*  Interactive Elements  */
.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
