body {
    background-color: rgb(119, 194, 255);
}

h1 {
    color: black;
}

.bigText {
    font-family: MarioFont;
    font-size: large;
    color: black;
}

@font-face {
    font-family: MarioFont;
    src: url(/fonts/MarioFont.otf);
}