/* Main */
/* body {
    background-color: #1a73bc;
} */

h1 {
    color: black;
}

/* Header */
.header {
  padding: 60px;
  text-align: center;
  box-sizing: border-box;
}

/* Background Checkerboard Pattern */


.mod {
  width: 100px;
  height: 200px;
  text-align: center;
  font-family: MarioFont;
  src: url(/files/fonts/MarioFont.otf);
}
